<div class="container">
  <div class="row">

    <div class="col-lg-10 mx-auto">

      <h4 class="col-2 my-3 bg-light">会員一覧</h4>

      <div class="col-lg-9 mx-auto">
        <!--会員一覧テーブル-->
        <table class="table">
          <!--テーブルヘッダー-->
          <thead class="thead-light">
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <!--会員をeachで表示-->
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.id %></td>
                <td><!--名前押すと会員詳細に飛ぶ-->
                    <%= link_to customer.family_name + customer.first_name, admin_customer_path(customer) %>
                </td>
                <td><%= customer.email %></td>
                <!--会員ステータス-->
                <td>
                  <% if customer.is_active == true %>
                    <p class="text-success font-weight-bolder">有効</p>
                  <% else %>
                    <p class="text-secondary font-weight-bolder">退会</p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!--ページネーション-->
      <div class="row text-center">
          <span class="mx-auto">
            <%= paginate @customers, theme: 'twitter-bootstrap-4' %>
          </span>
      </div>

    </div><!--col-->

  </div><!--row-->
</div><!--container-->
