<style>
footer {
background-color:#E4AB63
}
</style>

<footer>
  <div class='container'>
  	<div class='row'>
    	<div class='mt-4 mx-auto text-white'>
    		<p>製作：Animal Lovers.</p>
    	</div>
    </div>
  </div>
</footer>
