<style>
footer {
background-color:#E4AB63
}
</style>

<footer>
  <div class='container mt-5 pt-5 pb-4'>
  	<div class='row'>
    	<div class='mx-auto text-white'>
    		<p>製作：Animal Lovers.</p>
    	</div>
    </div>
  </div>
</footer>
